<h1>Welcome to the Players Market ⚽️</h1>
<div class="container">
  <div>
    <%= form_with url: players_path, method: :get do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Quelle poste souhaitez-vous renforcer ?"
        %>
      <%= submit_tag "GO !", name: "Position", class: "button mt-3" %>
    <% end %>
  </div>
<section class="tiles">
  <% @players.each do |player| %>
  <article class="style1">
    <% if player.img.present? %>
      <span class="image">
        <%= image_tag(player.img) %>
      </span>
    <% else %>
      <span class="image">
        <%= cl_image_tag player.photo.key%>
      </span>
    <% end %>
		<a href="/players/<%= player.id %>">
      <h3 id="text-tiles"><%= player.name %></h3>
      <h5><%= player.position %></h5>
      <div class="content">
      <h2><%= player.price_per_day%> €</h2>
      </div>
		</a>
	</article>
  <% end %>
</section>
</div>
