<h1>Welcome to the Players Market ⚽️</h1>
<div class="container">
  <div class="row justify-content-between">
    <div class="col-auto">
      <% if user_signed_in? %>
        <%= link_to "Ajouter un nouveau joueur", new_player_path, class: 'btn' %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </div>
<section class="tiles">
  <% @players.each do |player| %>
  <article class="style1">
    <% if player.img.present? %>
      <span class="image">
        <%= image_tag(player.img) %>
      </span>
    <% else %>
      <span class="image">
        <%= cl_image_tag player.photo.key%>
      </span>
    <% end %>
		<a href="/players/<%= player.id %>">
      <div class="con">
      <h2><%= player.name %></h2>
      <h3><%= player.club %></h3>
        <h3><%= player.price_per_day%> €</h3>
      </div>
		</a>
	</article>
  <% end %>
</section>
</div>
