<div class="container">
  <div class="row justify-content-center">
    <h1>Liste des joueurs</h1>
    <% @players.each do |player| %>
      <div class="col-12 col-lg-6">
        <div class="card-product mt-3">
          <div class="player-photo">
            <% if player.img.present? %>
              <%= image_tag(player.img) %>
            <% else %>
              <%= cl_image_tag player.photo.key %>
            <% end %>
          </div>
          <div class="card-product-infos ml-3">
            <div class="player-infos">
              <h2><%= link_to player.name, player_path(player) %></h2>
              <h3><%= player.position %></h3>
            </div>
            <div class="button-price ml-3">
              <button class="btn btn-primary"><%= player.price_per_day/1000 %> € / jour</button>
            </div>
          </div>
        </div>
     </div>
    <% end %>
  </div>
</div>
