<h1>Welcome to the Players List ⚽️</h1>

<p>Click on the player that you'd like to rent</p>


<section class="tiles">
  <% @players.each do |player| %>
  <article class="style1">
    <% if player.img.present? %>
      <span class="image">
        <%= image_tag(player.img) %>
      </span>
    <% else %>
      <span class="image">
        <%= cl_image_tag player.photo.key%>
      </span>
    <% end %>
		<a href="/players/<%= player.id %>">
      <h3><%= player.name %></h3>
      <p><%= player.club %></p>
      <div class="content">
        <p><%= player.price_per_day%> €</p>
      </div>
		</a>
	</article>
  <% end %>
</section>

<button class='mt-5'>
  <%= link_to "Add a new player", new_player_path %>
</button>
