<%# <h1>Welcome <%= current_user.first_name %>

<h1>Players list</h1>
<ul style="list-style-type:none";>
  <% @players.each do |player| %>
    <li><%= link_to player.name, player_path(player) %></li>
    <% if player.img.present? %>
      <li><%= image_tag(player.img) %></li>
    <% else %>
      <li><%= cl_image_tag player.photo.key, height: 140, width: 181, crop: :fill %></li>
    <% end %>
  <% end %>
</ul>


<p>
  <%= link_to "Add a new player", new_player_path %>
</p>
