<h1><%= @player.name %></h1>

<ul>
  <%= cl_image_tag @player.photo.key, height: 300, width: 400, crop: :fill %>
  <li>Position : <%= @player.position %></li>
  <li>Age : <%= @player.age %></li>
  <li>Address : <%= @player.address %></li>
  <li>Nationality : <%= @player.nationality %></li>
  <li>Height : <%= @player.height %></li>
  <li>Foot : <%= @player.foot %></li>
  <li>Price per day : <%= @player.price_per_day %></li>
  <li>Owner: <%= @player.owner.first_name %> <%= @player.owner.last_name %></li>
</ul>

<p>
  <%= link_to "Booking this player", new_player_booking_path(@player)  %>
</p>
<p>
  <%= link_to "Back", players_path %>
</p>
