<h1>Dashboard</h1>

<div class="tabs-list">
  <button class="tablink-active" onclick="openCity(event, 'players')">Mes joueurs</button>
  <button class="tablink" onclick="openCity(event, 'bookings')">Mes bookings</button>
</div>

<div id="players" class="tabs">
      <div class="rows">
      <% @players.each do |player| %>
        <div class="row-player">
          <%= player.img.present? ? image_tag(player.img) : cl_image_tag(player.photo.key) %>
          <p><%= player.name %></p>
          <p><%= player.position %></p>
          <p><%= number_with_delimiter(player.market_value, delimiter: ' ') %> €</p>
          <p><%= player.age %> ans</p>
          <div class="row-action">
            <a href="#"><i class="fa-solid fa-pencil"></i></a> | <a href="#"><i class="fa-solid fa-trash"></i></a>
          </div>
        </div>
      <% end %>
    </div>
</div>

<div id="bookings" class="tabs">
  <section class="tiles my-2 p-2">
    <% @bookings.each do |booking| %>
      <% player = Player.find_by(id: booking.player_id) %>
        <article class="style1">
          <% if player.img.present? %>
            <span class="image">
              <%= image_tag(player.img) %>
            </span>
          <% else %>
            <span class="image">
              <%= cl_image_tag player.photo.key%>
            </span>
          <% end %>
          <a href="/players/<%= player.id %>">
            <h3><%= player.name %></h3>
            <% if booking.start_date < @today %>
              <span><%= (booking.end_date - booking.start_date).to_i %> jours restants</span>
            <% else %>
              <span>Booking not started</span>
            <% end %>
            <div class="content">
              <p><%= booking.total_price / 1000 %> €</p>
            </div>
          </a>
        </article>
    <% end %>
  </section>
</div>

<button class="mb-4 mt-4">
  <%= link_to "Back to Players", players_path %>
</button>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabs");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.classList.add("active");
}
  document.addEventListener("DOMContentLoaded", function() {
  openCity({ currentTarget: document.querySelector(".tablink.active") }, 'players');
});
</script>
