<!DOCTYPE html>
<html>
  <head>
    <title>AirBnbProjectAJR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">
  </head>

  <body>
    <div class="content">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <div class="container-fluid">
        <%= link_to players_path, class: "navbar-brand" do %>
          <%= image_tag('Icone_navbar.jpeg') %>
        <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <%= link_to "Home", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Messages", players_path, class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
                <% if user_signed_in? %>
                  <%= cl_image_tag(current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
                <% else %>
                  <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
                <% end %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <% if user_signed_in? %>
                  <%= link_to "Dashboard", dashboards_path, class: "dropdown-item" %>
                  <%= link_to "Add a new player", new_player_path, class: "dropdown-item"%>
                    <%= link_to "Log Out", destroy_user_session_path, data:{turbo_method: :delete}, class: "dropdown-item" %>
                  <% else %>
                    <%= link_to "Sign in", new_user_session_path, class: "dropdown-item" %>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <!--To take out the line below-->

    <%= link_to "Log Out", destroy_user_session_path, data:{turbo_method: :delete}, class: "dropdown-item" %>

    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <div class="footer-up">
        <%= image_tag('BL.png') %>
        <div class="text">
          <p>Qui sommes-nous ?</p>
          <p>Contactez-nous.</p>
        </div>
        <%= image_tag('Liv.png') %>
        <div class="text-last">
          <p>Joueurs livrés en un jour!</p>
          <p>Faites votre mercato!</p>
        </div>
        <%= image_tag('Juv.png') %>
      </div>
      <div class="last">
        <p>Construisez votre équipe de rêve en recrutant les meilleurs joueurs dans les meilleurs clubs.</p>
      </div>
    </div>
    </div>
  </body>
</html>
